.waitingRoom {
  padding-top: 20px;
}
.waitingRoom .videoDiv {
  background-color: #000000;

  position: relative;
  min-width: fit-content;
  max-width: 750px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primaryBlue);
  min-height: 400px;
  color: #fff;
  text-align: center;
}
.waitingRoom .videoDiv video {
  width: 100%;
  max-height: 400px;
  border-radius: 5px;
}
.waitingRoom .myVideoDiv {
  position: absolute;
  bottom: 0;
  right: 20px;
}
.waitingRoom .myVideoDiv video {
  width: 150px;
  border: 2px solid var(--primaryBlue);
  border-radius: 5px;
}

.waitingRoom .videoDiv .title {
  font: 18px poppinsSb;
}
.waitingRoom .header .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.waitingRoom .header {
  margin: 0 auto;
  justify-content: center;
  padding: 30px;
  border-bottom: 1px solid #c7c7c7;
}
.waitingRoom .header .waitingText {
  color: rgb(135, 135, 145);
  font: 16px poppinsMd;
}
.waitingRoom .header .name {
  font: 18px poppinsSb;
}
.waitingRoom .header .workText {
  font: 16px poppinsMd;
}
.waitingRoom .detailsDiv {
  padding: 50px 30px;
}
.waitingRoom .detailsDiv .item {
  width: 200px;
  margin-bottom: 20px;
}
.waitingRoom .detailsDiv .item .title {
  font: 15px poppinsSb;
  margin-bottom: 5px;
}
.waitingRoom .detailsDiv .item .text {
  font: 13px poppinsSb;
  color: rgb(135, 135, 145);
}

/* video controls */
.videoControls {
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
}
.videoControls button {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: rgba(114, 114, 114, 1);
  margin-right: 10px;
}
.videoControls button.active {
  background-color: rgb(243, 92, 92);
}
.waitingRoom .bottomControls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
}
.waitingRoom .leaveButton {
  background-color: #eb5757;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}

.waitingRoom .camOff {
  color: #fff;
  font-size: 18px poppinsSb;
  width: 150px;
  height: 112px;
  border-radius: 5px;
  border: 2px solid var(--primaryBlue);
  background-color: var(--colorBlack2);
}
