.profileSec .header {
  display: flex;
}
.profileSec .header .profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.profileSec .header .name {
  font: 23px poppinsBd;
}
.profileSec .header .subTitle {
  font: 16px poppinsMd;
}
.profileSec .header .placeText {
  font: 14px poppinsMd;
  color: rgb(135, 135, 145);
  margin-bottom: 5px;
}
.tabSec {
  display: flex;
  align-items: center;
}
.tabSec .tab {
  display: flex;
  align-items: center;
  font: 12px poppinsMd;
  background-color: rgb(243, 243, 244);
  border-radius: 15px;
  padding: 5px 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.tabSec .tab .icon {
  width: 15px;
  margin-right: 10px;
}
.videoIcon {
  width: 15px;
  margin-right: 5px;
  flex-shrink: 0;
}

.profileSec .divider {
  background-color: #c7c7c7;
  width: 100%;
  margin-top: 30px;
}
.profileSec .detailTabSec {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  flex-wrap: wrap;
  padding-top: 20px;
}
.profileSec .detailTab {
  display: flex;

  margin-bottom: 20px;

  align-items: flex-start;
}
.profileSec .detailTab .title {
  font: 16px poppinsSb;
}
.profileSec .detailTab .text {
  font: 12px poppins;
  color: rgb(0, 35, 75);
}
.profileSec .text {
  font: 15px poppinsMd;
}
.profileSec .reviewSeC {
  margin-top: 30px;
  padding: 20px;
  display: flex;
}
.profileSec .reviewFlexM {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}
.profileSec .titleBg {
  font: 20px poppinsBd;
  margin-top: 20px;
}
.profileSec .reviewSeC .title {
  font: 15px poppinsSb;
  margin-bottom: 10px;
}
.profileSec .reviewSeC .ratingNumber {
  font: 45px poppinsSb;
  margin-bottom: 5px;
}
.profileSec .reviewSeC .reviewText {
  font-family: poppinsSb;
  cursor: pointer;
}
.profileStar {
  height: 22px;
  width: 22px;
}
.profileStar2 {
  height: 15px;
  width: 15px;
}
.textDarkBlue {
  color: rgb(43, 191, 237);
}
.reviewSeC .overAll {
  padding-right: 20px;
}
.reviewSeC .recentReviews {
  padding: 0;
}
.reviewSeC .recentReviews .seeAllBtn {
  border: 1px solid rgb(0, 35, 75);
  border-radius: 0;
  color: rgb(0, 35, 75);
  margin-top: 20px;
}
.reviewSeC .recentReviews .seeAllBtn:hover {
  border: 1px solid rgb(0, 35, 75);
  background-color: rgb(0, 35, 75);

  color: #fff;
}
.reviewSeC .recentReviews .desc {
  font: 17px poppins;
  color: rgb(0, 35, 75);
  padding: 20px 0;
}
.reviewDateDiv {
  display: flex;
}
.reviewText {
  color: rgb(135, 135, 145);
  font: 13px poppins;
}

/* booking css */
.bookingDiv {
  background-color: #f3f3f4;
  padding: 30px;
}
.bookingDiv .secTitle {
  font: 20px poppinsBd;
  margin-bottom: 20px;
}
.profileSec .inputDiv {
  margin-bottom: 20px;
}
.profileSec .inputDiv .lable {
  font: 15px poppinsMd;
  margin-bottom: 5px;
}
.profileSec .inputDiv .input {
  background-color: #fff;
  width: 100%;
  border: 1px solid rgb(225, 225, 228);
  padding: 10px 5px;
  font: 15px poppinsMd;
}
.customRadioDiv {
  display: flex;
  align-items: center;
}
.radioDiv {
  height: 40px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #e7e7e9;
  width: 50%;
  background-color: #fff;
}
.customRadioDiv .radioDiv .radioCircle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  flex-shrink: 0;
  border: 1px solid #c7c7c7;
}
.customRadioDiv .radioDiv .radioCircleActive {
  background-color: #48afc9;
}
.customRadioDiv .radioDiv .radioLable {
  font: 15px poppinsMd;
  margin-left: 20px;
}
.bookingDiv .bookingBtn {
  font: 18px poppinsMd;
  color: #000;
  background-color: var(--primaryBlue);
  padding: 10px;
  width: 100%;
  border: none;
  transition: ease-in 0.2s;
}
.bookingDiv .bookingBtn:hover {
  background-color: "#AFEAAA";
}
.profileSec .secDiv {
  margin-bottom: 40px;
}
.profileSec .secDiv .title {
  font: 20px poppinsBd;
  margin-bottom: 10px;
}
.profileSec .secDiv .text {
  font: 15px poppins;
  opacity: 0.5;
}
.profileSec .secDiv .ratingText {
  font: 17px poppinsSb;
}
.profileSec .locationTextDiv {
  padding: 20px 30px;
  display: flex;
  align-items: flex-start;
  background-color: rgb(243, 230, 255);
  width: fit-content;
  font: 15px poppinsMd;
}
.profileSec .locationTextDiv .img {
  width: 30px;
  margin-right: 10px;
}
.profileSec .secDiv .subTitle {
  font: 18px poppinsMd;
  margin-top: 30px;
  margin-bottom: 5px;
}

.reviewSearchDiv {
  margin-top: 30px;
}
.reviewSearchDiv .reviewSelect {
  width: 100%;
  height: 30px;

  border: 1px solid rgb(178, 189, 201);
}
.reviewSearchDiv .sDiv {
  position: relative;
}
.reviewSearchDiv .sDiv .img {
  position: absolute;
  width: 18px;
  top: 5px;
  cursor: pointer;
  left: 5px;
}
.reviewSearchDiv .sDiv .searchInput {
  border: 1px solid rgb(178, 189, 201);
  padding-left: 30px;
  height: 30px;
  width: 100%;
}

/* review Card css */
.reviewCard {
  margin-bottom: 30px;
}
.reviewCard .title {
  font: 18px poppinsSb;
}
.reviewCard .reviewText {
  font: 18px poppins;
  margin-top: 10px;
  color: #000;
}
.reviewCard .reviewDetailText {
  font: 16px poppinsMd;

  margin-right: 5px;
}
.faqSec {
  width: 100%;
}
.faqSec .title {
  font: 18px poppinsBd;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

/* booking Calender */
.bookingCalenderDiv {
  background-color: #fff;
  padding: 10px;
}
.bookingCalenderDiv .header {
  border-bottom: 1px solid #c7c7c7;
  width: 100%;
  padding-bottom: 10px;
}
.bookingCalenderDiv .calenderController {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.bookingCalenderDiv .calenderController .arrowImg {
  padding: 5px;
  width: 20px;
  cursor: pointer;
}
.bookingCalenderDiv .calenderController .itemDiv {
  text-align: center;
}
.bookingCalenderDiv .calenderController .itemDiv .dayText {
  font: 16px poppinsSb;
}
.opacityHalf {
  opacity: 0.4;
}
.bookingCalenderDiv .innerCalender {
  min-height: 200px;
  max-height: 250px;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
}
.bookingCalenderDiv .innerCalender .slotCol {
  min-width: 60px;
}
.bookingCalenderDiv .innerCalender .slots {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #48afc9;
  font: 12px poppinsMd;
  margin-bottom: 10px;
  cursor: pointer;
  transition: ease-in 0.2s;
}
.bookingCalenderDiv .innerCalender .slots:hover {
  background-color: #48afc9;
  border: 1px solid #48afc9;
  color: #fff;
}
.bookingCalenderDiv .innerCalender .slotsActive {
  background-color: #48afc9;
  border: 1px solid #48afc9;
  color: #fff;
}
.bookingCalenderDiv .innerCalender .slotsDisable {
  opacity: 0.5;
}

/* about detail sec */
.aboutSec {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 50px 30px;
  color: var(--primaryBlue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.aboutSec .contentSec {
  width: 100%;
}
.aboutSec .contentSec .title {
  font: 18px poppinsBd;
  margin-bottom: 10px;
}
.aboutSec .contentSec .text {
  font: 18px poppins;
  color: #7e7e7e;
}
.aboutSec .contentSec .offerBg {
  background-color: #6bcae2;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: #fff;
}

/* education css */
.educationSec .secTitle {
  font: 22px poppinsBd;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.educationSec .eduCard {
  background-color: #e2f7fc;
  padding: 30px 30px;
  position: relative;
  width: 290px;
  min-height: 234px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.educationSec .title {
  font: 18px poppinsMd;
  margin-bottom: 15px;
}
.educationSec .text {
  font: 18px poppins;
  margin-bottom: 10px;
}
.educationSec .eduCard .img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.educationBg {
  background-color: #e2f7fc;
}
.educationSec .eduAndTrain {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 190px;
}
.educationSec .eduCard2 {
  width: 100%;
}
.patientReviewDiv {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  width: 100%;
  margin-top: 50px;
  padding: 50px 20px;
}
.patientReviewDiv .header {
  padding-bottom: 30px;
}
.patientReviewDiv .patientFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.patientFlex .userSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.patientReviewDiv .patientFlex .userSec .userItem {
  display: flex;

  align-items: center;
  flex-direction: column;
  padding: 10px;

  cursor: pointer;
  width: 100%;
}
.patientReviewDiv .patientFlex .userSec .userItemActive {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}
.patientReviewDiv .patientFlex .userSec .userItem .name {
  font: 15px poppinsBd;
  margin-top: 10px;
}
.patientReviewDiv .patientFlex .userSec .userItem .profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.patientReviewDiv .patientFlex .userSec .userItem .date {
  font: 12px poppinsBd;
}
.patientReviewDiv .secTitle {
  font: 22px poppinsBd;
}
.arrowIcon {
  height: 43px;
  width: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-left: 30px;
}

.qestionDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font: 18px poppinsMd;
  color: #000;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  user-select: none;
}
.faqSec .text {
  color: #727272;
  padding-left: 40px;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .profileSec .header .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .profileSec .header .name {
    font: 25px poppinsBd;
  }
  .profileSec .header .subTitle {
    font: 17px poppinsMd;
  }
  .profileSec .header .placeText {
    font: 15px poppinsMd;
  }

  .tabSec .tab {
    display: flex;
    align-items: center;
    font: 14px poppinsMd;
    background-color: rgb(243, 243, 244);
    border-radius: 20px;
    padding: 10px 10px;
    margin-right: 20px;
    margin-bottom: 5px;
    white-space: nowrap;
  }
  .tabSec .tab .icon {
    width: 25px;
    margin-right: 10px;
  }
  .videoIcon {
    width: 15px;
    margin-right: 5px;
    flex-shrink: 0;
  }
  .profileSec .detailTab {
    width: 50%;
  }
  .reviewSeC .recentReviews {
    border-left: 1px solid #c7c7c7;
    padding: 0 20px;
  }
  .profileSec .locationTextDiv {
    align-items: center;
  }
  .profileSec .secDiv .title {
    font: 24px poppinsBd;
  }
  .aboutSec {
    padding: 50px 60px;
  }
  .aboutSec .contentSec {
    width: 45%;
  }
  .educationSec .eduCard2 {
    width: 49.2%;
  }
  .patientFlex .userSec {
    flex-direction: column;
    width: 35%;
  }
  .patientFlex .reviewSec {
    width: 60%;
  }

  .patientReviewDiv .patientFlex .userSec .userItem .name {
    font: 18px poppinsBd;
    margin-top: 0;
  }

  .patientReviewDiv .patientFlex .userSec .userItem {
    flex-direction: row;
  }
}
