<%- include('include/head.ejs')%>
<!-- content div -->
<div>
  <!-- paragraph or text div -->
  Hello,
  <br />
  Your Doctor Form is Approved by Admin, <br /><br />
  Your Login Credentials: <br />
  Email : <b><%= email %></b><br />
  Password : <b><%= password %></b><br /><br />

  <br />
  If you have not requested this email, then ignore it.
  <br />
  We Thank You,<br />
  CloudDoc
</div>
<%- include('include/end.ejs')%>
