<%- include('include/head.ejs')%>

<!-- Intro -->

<div>
  Hello, <br />
  Doctor Form Submitted by email: <b><%= email %></b> We will notify you when
  admin approve or decline your form.

  <br />
  If you have not requested this email, then ignore it.
  <br />
  We Thank You,<br />
  CloudDoc
</div>

<%- include('include/end.ejs')%>
