<%- include('include/head.ejs')%>
<div>
  Hello,
  <br /><br />
  If you forgot your password, don't worry, you can create a new password by
  clicking the link below. Password reset link:
  <br /><br />
  <a
    href="<%= resetUrl %>"
    target="_blank"
    style="
      border: none;
      font-size: 13px;
      border-radius: 5px;
      font-weight: bold;
      color: #fff;
      background-color: #48afc9;
      padding: 8px 10px;
    "
  >
    Reset Password
  </a>

  <br /><br />
  If you have not requested this email, then ignore it.
  <br /><br />
  We Thank You,<br />
  CloudDoc
</div>

<%- include('include/end.ejs')%>
