</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<!-- END Intro -->
                      <!-- Footer -->
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tr>
                          <td
                            class="footer"
                            style="padding: 0px 30px 30px 30px"
                          >
                            <table
                              width="100%"
                              border="0"
                              cellspacing="0"
                              cellpadding="0"
                            >
                              <tr>
                                <td
                                  class="separator"
                                  style="
                                    border-bottom: 4px solid #48afc9;
                                    font-size: 0pt;
                                    line-height: 0pt;
                                  "
                                ></td>
                              </tr>
                              <tr>
                                <td
                                  class="pb40"
                                  style="padding-bottom: 40px"
                                ></td>
                              </tr>
                              <tr>
                                <td
                                  class="text-socials"
                                  style="
                                    color: #000000;
                                    font-family: 'Fira Mono', Arial, sans-serif;
                                    font-size: 16px;
                                    line-height: 22px;
                                    text-align: center;
                                    text-transform: uppercase;
                                  "
                                >
                                  <div mc:edit="text_32">follow us</div>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="padding: 30px 0px 30px 0px"
                                  align="center"
                                >
                                  <table
                                    class="center"
                                    border="0"
                                    cellspacing="0"
                                    cellpadding="0"
                                    style="text-align: center"
                                  >
                                    <tr>
                                    <td
                                        class="img"
                                        width="52"
                                        style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: left;
                                        "
                                      >
                                        <a href="#" target="_blank"
                                          ><img
                                            src="https://res.cloudinary.com/my-cloud-doc/image/upload/v1624974253/CloudDoc/t_free_ico_facebook_cir31p.jpg"
                                            width="42"
                                            height="42"
                                            mc:edit="image_10"
                                            style="max-width: 42px"
                                            border="0"
                                            alt=""
                                        /></a>
                                      </td>
                                      
                                      <td
                                        class="img"
                                        width="52"
                                        style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: left;
                                        "
                                      >
                                        <a href="#" target="_blank"
                                          ><img
                                            src="https://res.cloudinary.com/my-cloud-doc/image/upload/v1624973103/CloudDoc/t_free_ico_twitter_jv3fup.jpg"
                                            width="42"
                                            height="42"
                                            mc:edit="image_10"
                                            style="max-width: 42px"
                                            border="0"
                                            alt=""
                                        /></a>
                                      </td>

                                      <td
                                        class="img"
                                        width="42"
                                        style="
                                          font-size: 0pt;
                                          line-height: 0pt;
                                          text-align: left;
                                        "
                                      >
                                        <a href="#" target="_blank"
                                          ><img
                                            src="https://res.cloudinary.com/my-cloud-doc/image/upload/v1624973103/CloudDoc/t_free_ico_instagram_s1ruy1.jpg"
                                            width="42"
                                            height="42"
                                            mc:edit="image_12"
                                            style="max-width: 42px"
                                            border="0"
                                            alt=""
                                        /></a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!-- END Footer -->
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="text-footer"
                      style="
                        padding: 30px 15px;
                        color: #9fadd4;
                        font-family: 'Fira Mono', Arial, sans-serif;
                        font-size: 12px;
                        line-height: 22px;
                        text-align: center;
                      "
                    >
                      <div mc:edit="text_33">
                        My Cloud Doc &copy; 2021 All rights reserved
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="img"
                      style="font-size: 0pt; line-height: 0pt; text-align: left"
                    >
                      <div mc:edit="text_34">
                        <!--[if !mso]><!-->
                        *|LIST:DESCRIPTION|* *|LIST:ADDRESS|* *|REWARDS_TEXT|*
                        <!--<![endif]-->
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- END Container -->
        </td>
      </tr>
    </table>
  </body>
</html>
