.searchFilter {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.filterDiv {
  border: 1px solid #707070;
  padding: 5px 10px;
  font: 12px poppins;
  margin-right: 10px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}
.filterDivActive {
  border: 1px solid var(--primaryBlue);
  background-color: var(--primaryBlue);
  color: #fff;
}
.searchFilter .titleText {
  font: 18px poppinsSb;
}
.filterSelect {
  display: flex;
  justify-content: space-between;
  font: 15px poppins;
  align-items: center;
  padding: 10px 20px;
  border-radius: 40px;

  border: 1px solid #707070;
}
.resultSec .pageTitle {
  font: 18px poppinsSb;
  padding-bottom: 40px;
}
.searchDoctorCard {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 1.5rem;
}
/* .searchDoctorCard .btnSec {
} */
.searchDoctorCard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.searchDoctorCard .header .flexCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tab .icon {
  width: 25px;
  margin-right: 5px;
}
.searchDoctorCard .profile {
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
}
.searchDoctorCard .name {
  font: 20px poppinsBd;
  margin-bottom: 5px;
}
.searchDoctorCard .text {
  font: 15px poppins;
  margin-bottom: 5px;
}
.skill .title {
  font: 18px poppinsSb;
}
.skillFlex {
  margin-top: 20px;
}
.skill {
  display: flex;
  align-items: flex-start;
  border: thin solid #c7c7c7;
  min-width: 200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.skill .icon {
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 5px;
}
.skillFlex {
  flex-shrink: 1;
}

.searchDoctorCard .btnVideo {
  border: 1px solid #00234b;
}
.searchDoctorCard .btnBook {
  background-color: #6bcae2;
  color: #fff;
}
.searchDoctorCard .btnSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.searchDoctorCard .textBg {
  font: 15px poppins;
  color: #707070;
  margin: 10px 0;
}

.presentDiv {
  text-align: center;
  justify-content: center;
  background-color: #eafbff;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.presentDiv .icon {
  flex-shrink: 0;
  width: 15px;
}
.presentDiv .text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}
.presentDiv .greenCircle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #1baa0e;
  flex-shrink: 0;
  margin-right: 10px;
}
.presentDiv .availableText {
  color: #1baa0e;
  font: 12px poppinsSb;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .searchDoctorCard .header .flexCenter {
    justify-content: start;
    text-align: left;
  }

  .searchDoctorCard .profile {
    width: 200px;
  }
  .searchDoctorCard .name {
    font: 20px poppinsBd;
    margin-bottom: 5px;
  }
  .searchDoctorCard .text {
    font: 15px poppins;
    margin-bottom: 5px;
  }
  .skill .title {
    font: 18px poppinsSb;
  }
  .skillFlex {
    margin-top: 20px;
  }
  .skill {
    display: flex;
    align-items: flex-start;
    border: none;
    border-right: 1px solid #707070;

    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  .skill .icon {
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: 5px;
  }
  .skillFlex {
    flex-shrink: 1;
  }

  .searchDoctorCard .btnVideo {
    border: 1px solid #00234b;
  }
  .searchDoctorCard .btnBook {
    background-color: #6bcae2;
    color: #fff;
  }
  .searchDoctorCard .btnSec {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: fit-content;
    align-items: center;
  }
  .searchDoctorCard .textBg {
    font: 15px poppins;
    color: #707070;
    margin: 10px 0;
  }
}
